.list {
    padding: 30px 20px;
    background: lightblue;
    border-radius: 1em;
}

.list button {
    font-size: 1.2em;
    padding: 4px 8px;
    display: inline-block;
    margin: 5px 0;
    width: 100%;
}

.menu-container {
    text-align: center;
}

.menu-container > li:not(:last-child) {
    margin-bottom: 30px;
}